* {
    margin: 0;
    padding: 0;
    /* change to Roboto from Google Fonts */
    /* font-family: "Arial"; */
}

body {
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;

    gap: 10px;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;

    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search-bar {
    grid-column: 1;
    grid-row: 1;
}

#profile {
    grid-column: 2;
    grid-row: 1;
}

#user-greeting {
    grid-column: 1;
    grid-row: 2;
}

#user-upload {
    grid-column: 2;
    grid-row: 2;
}

.content {
    grid-column: 2 / -1;
    grid-row: 2/ -1;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    gap: 15px;
}

.project-cards {
    grid-column: 1;
    grid-row: 1 / -1;

    margin: 15px;
}

.announcements {
    grid-column: 2;
    grid-row: 1
}

.trending {
    grid-column: 2;
    grid-row: 2;
}