* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {

    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
}

ul {
    list-style-type: none;
}

.sidebar {
    /* Sky color palette tailwind */
    background-color: #38bdf8;

    grid-column: 1;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;

    gap: 10px;
}

.sidebar>* {
    margin-left: 30px;
}

.sidebar-items {
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.header {
    box-shadow: 2px 5px 5px lightgrey;

    /* moves the header up so that the box shadow is visible */
    position: relative;
    z-index: 10;


    grid-column: 2 / -1;
    grid-row: 1;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-items input {
    width: 80%;
    border-radius: 10px;
}

#search-bar {
    grid-column: 1;
    grid-row: 1;
}

#profile {
    grid-column: 2;
    grid-row: 1;
}

#user-greeting {
    grid-column: 1;
    grid-row: 2;
}

#user-upload {
    grid-column: 2;
    grid-row: 2;
}

.content {
    background-color: #f0f9ff;
    padding: 15px;

    position: relative;

    grid-column: 2 / -1;
    grid-row: 2/ -1;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr min-content;
}

.card,
.announcement-container,
.trending-users {
    box-shadow: 2px 5px 5px lightgrey;

    position: relative;
    z-index: 10;

}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    gap: 15px;
}

.card {
    border-left: 5px solid orange;
    border-radius: 5px;
    height: 150px;

    padding: 15px;

    background-color: white;
}

.project-cards {
    grid-column: 1;
    grid-row: 1 / -1;

    margin: 15px;
}

.announcements {
    grid-column: 2;
    grid-row: 1;

    padding: 15px;
}

.announcements p {
    font-size: .9rem;
}

.announcement-container {
    border: 3px solid black;
    border-radius: 8px;

    padding: 15px;

    background-color: white;
}

.trending {
    grid-column: 2;
    grid-row: 2;

    padding: 15px;
}

.trending-users {
    border: 3px solid black;
    border-radius: 8px;

    padding: 15px;

    background-color: white;
}

.user {
    display: grid;
    grid-template-columns: .5fr 4fr;
}

.user img {
    grid-column: 1;
}

.user h3,
p {
    grid-column: 2;
}